name: Releaser

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Setup pantry
        uses: stacksjs/pantry@v0.7
        with:
          setup-only: 'true'

      - name: Use cached node_modules
        uses: actions/cache@v5.0.1
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Publish to npm
        run: pantry publish --access public
        env:
          BUN_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Create GitHub release
        run: bunx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Attach Binaries
        uses: stacksjs/action-releaser@v1.2.7
        with:
          files: |
            bin/router-linux-x64
            bin/router-linux-arm64
            bin/router-windows-x64.exe
            bin/router-darwin-x64
            bin/router-darwin-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
